[submodule "grpc"]
	path = third_party/repos/grpc
	url = https://github.com/grpc/grpc.git
    branch = v1.67.1
[submodule "swift-protobuf"]
	path = third_party/repos/swift-protobuf
	url = https://github.com/apple/swift-protobuf
    branch = 1.28.2
[submodule "grpc-swift"]
	path = third_party/repos/grpc-swift
	url = https://github.com/grpc/grpc-swift.git
    branch = 1.24.1
